<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFM_MultiRender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SFM_MultiRender.Properties.Settings>
            <setting name="launchArgs" serializeAs="String">
                <value>-min -insecure -sfm_width 3840 -sfm_height 2160 -w 3840 -h 2160 +sv_lan 1 -sfm_startup_script "G:\video juegos\SteamApps\common\SourceFilmmaker\game\workshop\scripts\sfm\mainmenu\umfc\Directional_Scale_Patch.py"</value>
            </setting>
            <setting name="sfmExe" serializeAs="String">
                <value>G:\video juegos\SteamApps\common\SourceFilmmaker\game\sfm.exe</value>
            </setting>
        </SFM_MultiRender.Properties.Settings>
    </userSettings>
</configuration>
